html
  head
    title Display Data
  body
    h1 Display Data
    p
      strong Roll No: #{rollNo}
    p
      strong Name: #{name}
    p
      strong Division: #{division}
    p
      strong Email: #{email}
    p
      strong Subject: #{subject}
    a(href="/") Back to Form
